body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.css-pgbar {
    position: relative;
    width: 100vw;
    height: 16px;
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
}

.css-pgbar::-webkit-progress-bar{
    background-color: rgb(185, 185, 185);
    margin-top: -5px;
    border-radius: 0px;
}

.css-pgbar::-webkit-progress-value{
    background-color: #710273;
    border-radius: 0px;
}

.css-lang{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    text-align: center;
    font-size: 60px;
}

.css-lang .title{
    margin-top: 25vh;
    margin-bottom: 20px;
}

.css-about .title{
    margin-top: 5vh;
}

.css-lang .btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.btn-kor{
    border-radius: 50px;
    margin: 20px;
    cursor: pointer;
    width: 200px;
    height: 80px;
    font-size: 30px;
    border: 4px solid #6C60BF;
    background-color: white;
    color: #6C60BF;
}

.btn-eng{
    border-radius: 50px;
    margin: 20px;
    cursor: pointer;
    width: 200px;
    height: 80px;
    font-size: 30px;
    border: 4px solid #6C60BF;
    background-color: white;
    color: #6C60BF;
}

.btn-kor:hover, .btn-eng:hover{
    background-color:#6C60BF;
    color:white;
    transition-duration: 0.4s;
}

.css-num{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

.css-num .title{
    margin-top: 40px;
    margin-bottom: 20px;
}

.keypad{
    border-radius: 50%;
    margin: 20px;
    cursor: pointer;
    width: 80px;
    height: 80px;
    font-size: 30px;
    border: 0px solid #6C60BF;
}

.keypad:hover{
    background-color:#6C60BF;
    color:white;
    transition-duration: 0.4s;
}

.css-about{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.category{
    text-align: center;
    margin: 50px;
}