@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

.title{
    font-family: 'IM_Hyemin-Bold';
    margin-top: 20px;
}

.css-modal-name, .css-modal-birth, .css-modal-color{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.css-modal-name .css-et{
    font-family: 'IM_Hyemin-Bold';
    text-align: center;
    font-size: 30px;
    width: 50%;
    margin-top: 13vh;
}

.css-modal-name .css-submit{
    position: relative;
    all: unset;
    font-size: 2.4vw;
    padding: 30px;
    font-family: 'IM_Hyemin-Bold';
    color: #D15593;
    font-weight: bold;
    text-align: center;
    margin-top: 20vh;
}

.css-submit:hover{
    background-color: #FFD15E;
    border-radius: 40px;
    cursor: pointer;
}

.css-modal-birth .css-cal{
    all:unset;
    width: 70vw;
    margin-top: 5vh;
    box-shadow: 0px 10px 10px #C4C4C4;
}

.mbti_t{
    font-size: 2.4vw;
    padding: 30px;
    font-family: 'IM_Hyemin-Bold';
    font-weight: bold;
    text-align: center;
    margin: 2px;
}

.mbti_t:hover{
    background-color: #FFD15E;
    border-radius: 40px;
    cursor: pointer;
}

.css-modal-color .css-picker{
    width: 25vw;
    height: 25vw;
    margin-top: 5vh;
}

.css-modal-color .css-hex{
    position: relative;
    font-size: 2.4vw;
    padding: 30px;
    font-family: 'IM_Hyemin-Bold';
    color: #D15593;
    font-weight: bold;
    text-align: center;
    margin-top: 2vh;
}

.css-modal-color .css-submit-color{
    position: relative;
    all: unset;
    font-size: 2.4vw;
    padding: 30px;
    font-family: 'IM_Hyemin-Bold';
    color: #D15593;
    font-weight: bold;
    text-align: center;
    margin-top: 5vh;
}

.css-submit-color:hover{
    background-color: #FFD15E;
    border-radius: 40px;
    cursor: pointer;
}

.tellMe{
    font-size: 4vw;
    text-align: center;
    font-family: 'IM_Hyemin-Bold';
    padding-top: 3vw;
    padding-bottom: 1vw;
}

table{
    padding-top: 1.5vw;
    margin: auto;
}

.select{
    float: left;
    margin: 70px;
    text-align: center;
    font-size: 3vw;
    font-family: 'IM_Hyemin-Bold';
}

.select:hover{
    cursor: pointer;
}



@media screen and (max-width:768px) {
    .tellMe{
        font-size: 5vw;
        padding-top: 13vw;
        padding-bottom: 4vw;
    }

    .select{
        margin: 50px;
        font-size: 4vw;
    }

    .mbti_t{
        font-size: 2vw;
        padding: 18px;
        font-family: 'IM_Hyemin-Bold';
        font-weight: bold;
        text-align: center;
        margin-top: 2px;
        padding-bottom: 40px;
        
    }

    

    
}
